In [23]:
import pandas as pd

df = pd.DataFrame(
    {
        'ROI1': [31354, 43688, 54995, 65532, 6553],
        'ROI2': [49343, 65534, 37521, 17476, 0],
        'ROI3': [49343, 65534, 37521, 17476, 0],
    }
)

In [24]:
rolling_mean = df.rolling(3, center=True).mean()
rolling_mean

           ROI1          ROI2          ROI3
0           NaN           NaN           NaN
1  43345.666667  50799.333333  50799.333333
2  54738.333333  40177.000000  40177.000000
3  42360.000000  18332.333333  18332.333333
4           NaN           NaN           NaN

In [25]:
df - rolling_mean

           ROI1          ROI2          ROI3
0           NaN           NaN           NaN
1    342.333333  14734.666667  14734.666667
2    256.666667  -2656.000000  -2656.000000
3  23172.000000   -856.333333   -856.333333
4           NaN           NaN           NaN