In [29]:
import numpy as np
import pandas as pd

from src.utils.ROI import ROI

signals_df = pd.DataFrame({
    ROI(0, 0): np.array([0, 1, 1.5, 0.5, 2]),
    ROI(0, 1): np.array([1, 2, 3, 0.5, 4]),
    ROI(0, 2): np.array([4, 2, 3, 0.5, 2]),
})
stds = signals_df.std()
stds

(0;0)    0.790569
(0;1)    1.431782
(0;2)    1.303840
dtype: float64

In [30]:
stds.where(stds >= 1)

(0;0)         NaN
(0;1)    1.431782
(0;2)    1.303840
dtype: float64

In [31]:
above_thresh = stds >= 1
above_thresh

(0;0)    False
(0;1)     True
(0;2)     True
dtype: bool

In [32]:
# signals_df.loc[:, signals_df >= 1]
signals_df.loc[:, above_thresh]

   (0;1)  (0;2)
0    1.0    4.0
1    2.0    2.0
2    3.0    3.0
3    0.5    0.5
4    4.0    2.0

In [33]:
~above_thresh

(0;0)     True
(0;1)    False
(0;2)    False
dtype: bool

In [34]:
signals_df.loc[:, ~above_thresh]

   (0;0)
0    0.0
1    1.0
2    1.5
3    0.5
4    2.0

In [40]:
removed_rois = signals_df.loc[:, ~above_thresh].columns
removed_rois

array([ROI(0;0)], dtype=object)

In [45]:
filtered_rois = signals_df.loc[:, above_thresh].columns
filtered_rois

Index([(0;1), (0;2)], dtype='object')

In [49]:
filtered_df = signals_df[filtered_rois]
filtered_df

   (0;1)  (0;2)
0    1.0    4.0
1    2.0    2.0
2    3.0    3.0
3    0.5    0.5
4    4.0    2.0